<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Учет посещаемости</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<link rel="stylesheet" href="styles.css">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
	</style>
</head>
<body>
	<div class="logo"><img src="Images/polytech.png" class="polytech"></div>
	<div class="main_part">
		<h1>Учет посещаемости студентов</h1>
		<p>Страница для учета посещаемости студентов. Для того, чтобы добавить студента в список введите его имя и фамилию и нажмите на кнопку "Добавить".</p>
		<div id="student_list">
				<div><input id="name" v-model="name" placeholder="Имя" class="input_style"></textarea></div>
				<div style="margin-top: 40px;"><input id="second_name" v-model="second_name" placeholder="Фамилия" class="input_style"></textarea></div>
				<div style="margin-top: 40px;"><button v-on:click.prevent="onClick">Добавить</button></div>
			<div style="margin-top: 30px; background-color: #fff;" v-if="full_name.length">
				<ul id="student_list">
					<li v-for="full_name in full_name" :key="full_name" v-bind:class="{black : color_variant}">{{ full_name }}</li>
				</ul>
			</div>
			<p v-else="full_name.length">Данные о студентах отсутствуют</p>
		</div>
	</div>
	<script src="scripts.js"></script>
</body>
</html>