body {
	background-color: #231f20;
}

.logo {
	text-align: center;
}

.polytech {
	max-width: 500px;
}

.main_part {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	text-align: center;
}

.input_style {
	width: 100%;
}

input {
	background-color: #f5f5f5;
	color: #231f20;
	border: none;
	height: 40px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

input:active, input:focus {
	outline: none;
}

h1 {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

button {
	color: #231f20;
	font-family: 'Montserrat', sans-serif;
	background-color: #fff;
	height: 50px;
	width: 125px;
	border: none;
}

button:active, button:focus {
	outline: none;
}

button:hover {
	background-color: #00ced1;
	transition: 1s linear;
}

button:active {
	background-color: #00bfff;
	border: 5px outset #00ced1;
}

button:focus {
	background-color: #00bfff;
	border: 5px outset #00ced1;
}

li {
	list-style-type: none;
	color: #231f20;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

ul {
	margin: 0px;
	padding-left: 0px;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #fff;
	margin-top: 40px;
}

li.black {
	color: #000;
}

@media (max-width: 510px) {
	img {
		width: 400px;
	}
}